@using StudentCard.Web.UI.Controllers
@using Web.Common.App.Extensions

@model StudentCard.Web.UI.Models.StudentCard.AcademicDebts.StudentCardAcademicDebtsViewModel

@if (Model.Disciplines.Any())
{
    using (Html.BeginForm<StudentCardController>(c => c.AcademicDebts(null)))
    {
        <input type="submit" value="Отправить запрос на пересдачу" class="btn btn-link" />
        <br />

        <div>
            @foreach (var item in Model.Disciplines)
            {
                var selectedListItem = new SelectListItem
                {
                    Text = item.DisciplineName,
                    Value = item.GradeItemId.ToString()
                };

                <label>
                    <input type="checkbox"
                           name="GradeItemIds"
                           value="@selectedListItem.Value" />
                    @selectedListItem.Text
                </label>
            }
        </div>

        @Html.HiddenFor(m => m.StudentId)
    }

}