@using StudentCard.Web.UI.Controllers
@using Web.Common.App.Extensions
@model StudentCard.Web.UI.Models.StudentCard.AcademicDebts.StudentCardAcademicDebtsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm<StudentCardController>(c => c.AcademicDebts(null)))
{
    <input type="submit" value="Отправить" class="btn btn-outline-secondary" />
    <br />
   
    <div>
        @foreach (var item in Model.Disciplines)
        {
            var selectedListItem = new SelectListItem
            {
                Text = item.DisciplineName,
                Value = item.GradeItemId.ToString()
            };

            <label>
                <input type="checkbox"
                       name="GradeItemIds"
                       value="@selectedListItem.Value" />
                @selectedListItem.Text
            </label>
        }
    </div>

    @Html.HiddenFor(m => m.StudentId)
}