@using DepartmentCard.Web.UI.Controllers
@using Web.Common.App.Extensions
@model DepartmentCard.Web.UI.Models.Documentation.StudyDocuments.DocumentationStudyDocumentsViewModel

@{
    ViewBag.Title = "Справки об обучении";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Справки об обучении</h2>

@using (Html.BeginForm<DocumentationController>(c => c.StudyDocuments(null)))
{
    <input type="submit" value="Одобрить" class="btn btn-outline-secondary" />

    <br />
    <div>
        <table class="table table-hover table-bordered table-borderless">
            <thead>
                <tr>
                    <th>Студент</th>
                    <th>Группа</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Persons)
                {
                    var selectedListItem = new SelectListItem()
                    {
                        Text = item.FullName,
                        Value = item.StudyDocumentId.ToString()
                    };

                    <tr>
                        <td>
                            <label>
                                <input type="checkbox"
                                       name="SelectedIdStudyDocuments"
                                       value="@selectedListItem.Value" />
                                @selectedListItem.Text
                            </label>
                        </td>
                        <td>
                            @item.GroupName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}