@model DepartmentCard.Web.UI.Models.Department.List.DepartmentListModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model.Departments)
{
    <a href="">@item.Name</a>
}